<style>
  body{
    margin: 0;
    padding : 0;
    font-family: sans-serif;
  }
  .box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    box-shadow: 0px 5px 35px #000;
  }
  .box h1{
    color: white;
    text-transform: uppercase
    font-weight: 500px;
  }

  .box input[type = "text"],.box input[type = "email"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "email"]:focus{
    width: 280px;
    border-color: #2ecc71;  
  }
  .box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;  
  }
  .box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #2ecc71;
  }
  .btn{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0099FF;
    padding: 14px 40px
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .btn:hover{
    background: #0099FF;
  }

</style>
<body>
  <div class="page-info">
    Log in
  </div>

  <div class="box">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
  
            <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス", placeholder: " \uf0e0 Email", class: 'fa' %>

            <%= f.password_field :password, autocomplete: "パスワード", placeholder: " \uf023 Password", class: 'fa' %>

            <% if devise_mapping.rememberable? %>
              <div class="field" style="color: white; text-align: center;" >
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <%= f.submit " \uf2f6 LOG IN ", class: 'fa' %>

            <div class="btn">
              <a href="/users/sign_up">
                <i class="fas fa-user-plus"></i> create account
              </a>
            </div>

            <div class="btn">
              <a href="/users/password/new">
                <i class="fas fa-key"></i> forgot password?
              </a>
            </div>
      <% end %>
  </div>
</body>
