<style>
body{
    margin: 0;
    padding : 0;
    font-family: sans-serif;
  }

  .box{
    width: 400px;
    padding: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    box-shadow: 0px 5px 35px #000;
  }
  .box h1{
    color: white;
    text-transform: uppercase
    font-weight: 500px;
  }

  .box input[type = "username"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }

  .box input[type = "username"]:focus{
    width: 280px;
    border-color: #2ecc71;
  }


  .box input[type = "text"],.box input[type = "email"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "email"]:focus{
    width: 280px;
    border-color: #2ecc71;
  }
  .box input[type = "text"],.box input[type = "phonenumber"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "phonenumber"]:focus{
    width: 280px;
    border-color: #2ecc71;
  }
  .box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;  
  }
  .box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #2ecc71;
  }
  .btn{
    border: 0;
    background: none;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #0099FF;
    padding: 14px 40px
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .btn:hover{
    background: #0099FF;
  }

</style>

<body>
  <div class="page-info">
    sign up
  </div>

  <div class="box">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
　
          <%= f.text_field :username, autofocus: true, autocomplete: "name", placeholder: " \uf007 Username", class: 'fa' %>

          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: " \uf0e0 Email", class: 'fa' %>

          <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder:  " \uf095 Phone Number", class: 'fa' %>

          <%= f.password_field :password, autocomplete: "new-password", placeholder: " \uf023 Password", class: 'fa' %>

          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: " \uf023 Confirm your password", class: 'fa' %>

          <p style="color: white;">
            <%= f.check_box :accepted ,{},checked_value = "true",unchecked_value = "false" %>
               Accept <a href="/public/home/terms">Terms and Conditions</a>
          </p>

          <%= f.submit " Create my account", class: "btn btn-large" %>

          <div class="btn">
            <a href="/users/sign_in"><i class="fas fa-sign-in-alt"></i> have an account</a>
          </div>
    <% end %>
  </div>
</body>


