<style>
.card {
	width: 80%;
}
</style>


<% @blogs.each do |blog| %>
  <div class="card mb-5">
  	<div class="card-body">
  		<figure class="img-500x500" style="margin: auto;">	  <%= image_tag blog.blog_image_id.to_s if blog.blog_image_id? %>
  		</figure>

  		<p class="card-text">
  			<%= link_to public_blog_path(blog) do %>
  			  <%= blog.title %>
  			<% end %>
  		</p>

  		<% if current_user.already_favorited?(blog) %>
			<p>
			    <%= link_to public_blog_favorites_path(blog), method: :delete do %>
				    <i class="far fa-heart"></i>
				    <%= blog.favorites.count %>いいね
			    <% end %>
			</p>
			<% else %>
			<p>
			    <%= link_to public_blog_favorites_path(blog), method: :post do %>
				    <i class="far fa-heart"></i>
				    <%= blog.favorites.count %>いいね
			    <% end %>
		    </p>
		<% end %>

  		<div class="card-footer">
		    <small class="text-muted">
		      	<i class="far fa-calendar-alt"></i>
		      	<%= blog.created_at.strftime("%Y-%m-%d %H:%M") %> upload
		      	@<%= blog.user.username %>
		    </small>
		    <table>
	            <tr>
				    <td>
				        <%= link_to "#{blog.comments.count} コメント", public_blog_path(blog.id) %>
				    </td>

				    <td>
				        <% if blog.user_id == current_user.id %>

							<%= link_to '', edit_public_blog_path(blog), class: "fas fa-edit" %>

					        <%= link_to '', public_blog_path(blog), method: :delete, class: "fas fa-trash" %>
			  		    <% end %>
			  		</td>
			  	</tr>
			</table>
		</div>
  	</div>
  </div>
<% end %>
