<style>
.container{
	    	margin-top: 15%;
	    	margin-left: 25%;
	    }
</style>


<div class="page-info">
	your blog
</div>

<div class="container">
	<div class="row">
		<div class="col-8">
			<%= form_for [:public, @blog] do |f| %>
				<% if @blog.errors.any? %>
					<div id="error_explanation">
					 	<h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
					 		<% @blog.errors.full_messages.each do |msg| %>
					 		  <li><%= msg %></li>
					        <% end %>
					</div>
				<% end %>

				<div class="card-col-3">

					<h3 calss="edit" style="background:linear-gradient(90deg,#0FF 0%,#0FF 0%,#F0F 25%,#0FF 100%); margin: 10px 0px 10px 0px;" align="center">Image</h3>
		            <%= f.file_field :blog_image_id %>
		            <%= f.hidden_field :blog_image_id_cache %>

		            <h3 calss="edit" style="background:linear-gradient(90deg,#0FF 0%,#0FF 0%,#F0F 25%,#0FF 100%); margin: 10px 0px 10px 0px;" align="center">Title</h3>
		            <%= f.text_field :title, :size =>'75x2' %>

		            <h3 calss="edit" style="background:linear-gradient(90deg,#0FF 0%,#0FF 0%,#F0F 25%,#0FF 100%); margin: 10px 0px 10px 0px;" align="center">Body</h3>
		            <%= f.text_area :body, :size =>'75x5' %>

		        </div>

		            <%= f.submit 'update', class: "btn btn-outline-success" %>

		            <%= link_to 'delete', public_blog_path(@blog), method: :delete, "data-confirm" => "Are you sure？", class: "btn btn-outline-danger" %>
			<% end %>
		</div>
    </div>
</div>


