<div class="container">
	<div class="row">
			<h1>ジャンル一覧・追加</h1>
						<%= form_for [:admin,@genre] do |f| %>
							<% if @genre.errors.any? %>
								<div id="error_explanation">
							      <p><%= @genre.errors.count %>件のエラーが発生しました。</p>
							      <ul>
								      <% @genre.errors.full_messages.each do |message| %>
								        <li><%= message %></li>
								      <% end %>
							      </ul>
							    </div>
					 		 <% end %>
							<%= f.label :ジャンル %>
							<%= f.text_field :name %>
							<!-- true falseで合ってる？そもそも:true :falseの場所は何を表している？以前は有効がtrue,無効がfalseだった-->
							<%= f.submit '追加', class: "btn btn-primary"%>
						<% end %>
					<table class="table table-striped">
						<thead>
							<th>ジャンル</th>
						</thead>
						<tbody>
							<% @genres.each do |genre| %>
								<tr>
									<td><%= genre.name %></td>
									<td><%= link_to "編集",edit_admin_genre_path(genre.id), class: "btn btn-primary"%></td>
								</tr>
							<% end %>
						</tbody>
					</table>
	</div>
</div>