<div class="container">
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
       <h3>
       	<span style="background-color:#CCCCCC;">登録情報編集</span>
       </h3>
    </div>
    <div class="col-xs-10">
		<%= form_for [:public, @user] do |f| %>
		<% if @user.errors.any? %>
		  <div id="error_explanation">
		 	<h2><%= pluralize(@user.errors.count, "個") %> のエラーがあります。:</h2>
		 		<% @user.errors.full_messages.each do |msg| %>
		 		  <li><%= msg %></li>
		        <% end %>
		  </div>
		<% end %>

		    <h3 calss="edit">名前</h3>
			<%= f.text_field :last_name %> <%= f.text_field :first_name %>

			<h3 calss="edit">フリガナ</h3>
			<%= f.text_field :sub_last_name %> <%= f.text_field :sub_first_name %>

			<h3 calss="edit">メールアドレス</h3>
			<%= f.text_field :email %>

			<h3 calss="edit">電話番号(ハイフンなし)</h3>
			<%= f.text_field :phone_number%>
			
			<p>
			    <%= f.submit "編集を保存する", class: "btn btn-success" %>
		    	<%= link_to "退会する", public_path(current_user), class: "btn btn-danger" %>
		    </p>

		<% end %>
    </div>
</div>
</div>