<!DOCTYPE html>
<html>
  <head>
    <title>Treemusic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-turbolinks="false">
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/public/home/top">
            <h5 style="background-color: #99cc00;">Tree Music</h5>
          </a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
              <li class="nav-item active">
                <a class="nav-link" href="/public/home/top">Home <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item">
                <div class="nav-link">
                  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/public/blogs">blogs</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/public/tracks">tracks</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/public/user">my plofile</a>
              </li>

            <% else %>

              <li class="nav-item active">
                <a class="nav-link" href="/public/home/top.html">Home <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/users/sign_in">log in</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/users/sign_up">sing up</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/public/blogs">blogs</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">tracks</a>
              </li>
              
              <% end %>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/search">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
    </header>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
  <footer>
    <div style="text-align: center; color: #fff;">
                <p><strong>©treemusic since 2020</strong></p>
    </div>
  </footer>
</html>
